img.logo_img {
    background: black;
    padding: 6px;
    border-radius: 24px;
    margin: 17px 0px 0px 0px;
}
.img_icon {
    margin-top: 36px;
    width: 19px;
}
img.logout_icon {
    width: 19px;
    position: absolute;
    bottom: 10px;
}