.txt_box{
display: flex;
}
.txt_head{
padding-right: 108px;
}
.dtl_list{
padding: 8px 18px;
border-bottom: 1px solid #e3e3e5;
font-size: 16px;
font-weight: 400;}
.main_att{
    border-bottom: 1px solid #e3e3e5;
}
.txt_att{
    font-size: 14px;
    font-weight: 700;
    padding: 8px 18px;
    font-family: 'Inter';
}
.detail-ul{
list-style-type: none;
padding-inline-start: 20px;
font-size: 14px;
color: #adadad;
}
   .ID {
   
    font-size: 14px;
    color: #51545E;
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 0px 26px;
}
.Ticket.type{
    font-size: 13px;
    display: flex;
    padding: 0px 17px;
    justify-content: space-between;
    font-family: Inter;
}
.Subject{
font-size: 13px;
    display: flex;
    padding: 0px 54px 0px 18px;
    justify-content: space-between;
    font-family: Inter;
}
.detail-li{
margin: 12px 0px;
}
@media screen and (max-width:900px)   {
    .main_box{
    display: none;
}}

#arrow_id , .link_cls{
    float: right;
}

.hideMe {
    display: none;
}
